
{{ asset_add("scripts.js", "anomaly.field_type.datetime::js/jquery-ui.datepicker.min.js") }}
{{ asset_add("scripts.js", "anomaly.field_type.datetime::js/jquery.timepicker.min.js") }}
{{ asset_add("styles.css", "anomaly.field_type.datetime::less/datepicker.less") }}
{{ asset_add("styles.css", "anomaly.field_type.datetime::less/timepicker.less") }}
{{ asset_add("scripts.js", "anomaly.field_type.datetime::js/input.js") }}

<div class="input-group">

    {% if field_type.config.mode in ['date', 'datetime'] %}

        <span class="input-group-addon">
            <i class="fui-calendar"></i>
        </span>

        <input
                type="text"
                class="form-control datepicker"
                data-min="{{ field_type.config.min }}"
                data-max="{{ field_type.config.max }}"
                name="{{ field_type.input_name }}[date]"
                value="{{ field_type.format(field_type.getPhpDateFormat()) }}"
                placeholder="{{ 'now'|date(field_type.getPhpDateFormat()) }}"
                data-date-format="{{ field_type.getPluginDateFormat() }}">

    {% endif %}


    {% if field_type.config.mode in ['time', 'datetime'] %}

        <span class="input-group-addon">
            <i class="fui-time"></i>
        </span>

        <input
                type="text"
                class="form-control timepicker"
                name="{{ field_type.input_name }}[time]"
                value="{{ field_type.format(field_type.config.time_format) }}"
                placeholder="{{ 'now'|date(field_type.config.time_format) }}"
                data-time-format="{{ field_type.getTimeFormat() }}"
                data-step="{{ field_type.config.step }}">

    {% endif %}

</div>