{{ asset_add("scripts.js", "anomaly.field_type.datetime::js/flatpickr.min.js") }}
{{ asset_add("styles.css", "anomaly.field_type.datetime::scss/flatpicker.scss") }}
{{ asset_add("styles.css", "anomaly.field_type.datetime::scss/light.scss") }}
{{ asset_add("scripts.js", "anomaly.field_type.datetime::js/picker.js") }}

{% for locale in config('streams::locales.enabled') %}
    {{ asset_add("scripts.js", "anomaly.field_type.datetime::js/l10n/" ~ locale ~ ".js", ["ignore"]) }}
{% endfor %}

{{ asset_add("scripts.js", "anomaly.field_type.datetime::js/l10n/" ~ config('app.locale') ~ ".js", ["ignore"]) }}

<div class="input-group">

    <input
            type="text"
            class="form-control"
            name="{{ field_type.input_name }}"
            data-step="{{ field_type.config.step }}"
            data-input-mode="{{ field_type.config.mode }}"
            placeholder="{{ trans(field_type.placeholder) }}"
            data-locale="{{ field_type.locale ?: config('app.locale') }}"
            value="{{ field_type.format(field_type.input_format) }}"
            data-datetime-format="{{ field_type.input_format }}"
            data-alt-format="{{ field_type.plugin_format }}"
            {{ html_attributes(field_type.attributes) }}
            {{ field_type.required ? 'required' }}
            {{ field_type.disabled ? 'disabled' }}
            {{ field_type.readonly ? 'readonly' }}>

    {% if field_type.config.mode != 'date' %}
        <span class="input-group-addon">
            {{ field_type.config.timezone }}
        </span>
    {% endif %}

</div>
